body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header, footer {
    background: green;
    color: white;
    text-align: center;
    padding: 10px;
}

header {
    font-family: 'Courier New';
}

main {
    display: flex;
    justify-content: center;
}
.content {
    background: blue;
    color: white;
    width: 600px;
    padding: 20px;
}
.content h1 {
    margin-top: 0;
}

.content aside div {
    width: 6em;
    height: 6em;
    border: 4px solid white;
    border-radius: 20px 0px 20px 0px;
    margin-bottom: 1em;
    margin-right: 1em;
    float: left;
}
.content img.like {
    display: block;
    margin: 15px 0 0 auto;
    width: 20px;
    height: 20px;
}
.redref {
    text-align: center;
    /* display: flex;
    justify-content: center; */
}
.redref a {
    color: red;
    font-weight: bold;
}

.liheader {
    word-spacing: 15px;
    margin: 10px 0;
}

.highlight {
    color: red;
    font-weight: bold;
}

ul {
    margin: 0px 0px;
}

ul li {
    margin-bottom: 10px;
}
ul li:nth-child(2) {
    color: cyan;
    letter-spacing: 6px;
}
.styles {
    display: flex;
    justify-content: space-between;
}
table {
    margin-top: 10px;
    
}
table td {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    text-align: center;
}
.green { background: green; }
.red { background: red; }